<div>
  <h2><%- guild.name %></h2>
  <p><%- guild.id %></p>

  <img
    src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon%>.png"
    alt=""
  />

  <% if (guild.owner){%>
  <span>Owner</span>
  <%}%>

  <ul>
    <% guild.features.forEach(feature =>{ %>

    <li><%= feature%></li>

    <%})%>
  </ul>
</div>
